
.navbar-nav li{ margin-left:80px;}
.searchbox {
  float:right;
  transition: all 0.5s;
  
}
.searchbox span{
  display:inline-block;
  
}


.searchinput {
  width:40px;
  border:0;
  transition: all 0.5s;
}
.searchicon {
  border:0;
  padding :2px 4px 3px 0;
  margin-left:-5px;
}

.searchboxOpen .searchinput {
  width:150px;
  border:solid #ccc 1px;
  border-right:0;
  transition: all 0.5s;
}
.searchboxOpen .searchicon {
  border:solid #ccc 1px;
  border-left:0;
}
.carousel-caption{top: 40%;bottom:none;}
.container-bg{background: url('../images/Image_3-.jpg') no-repeat center center scroll;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

#fade-quote-carousel.carousel {
  padding-bottom: 60px;
}
#fade-quote-carousel.carousel .carousel-inner .carousel-item {
  opacity: 0;
  -webkit-transition-property: opacity;
      -ms-transition-property: opacity;
          transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-inner .active {
  opacity: 1;
  -webkit-transition-property: opacity;
      -ms-transition-property: opacity;
          transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-indicators {
  bottom: 10px;
}
#fade-quote-carousel.carousel .carousel-indicators > li {
  background-color: #e84a64;
  border: none;
}
#fade-quote-carousel blockquote {
    text-align: center;
    border: none;
}
#fade-quote-carousel .profile-circle {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 100px;
}
.img-fluid {
   width: 100%;
    height: auto;
}
.testimonial
{
    padding:8% 10%;
    margin-top:5%;
    margin-bottom:5%;
    background-color: rgba(0, 0, 0, 0.1);
}
.footer-bg{background:#ebebeb;}
